<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sorry! Page not found.</title>
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
  <% include partials/nav.ejs %>
  <h1>404, uh oh!</h1>
  <p>Your page is not found. Click <a href="/home">here</a> to go home.</p>
</body>
</html>